.payment-container{
    display: grid;
    grid-template-areas:
        'krabs krabs'
        'personal confirm';
    gap: 10px;
    padding: 10px;
    height: 100vh;
}

.personal-info{
    grid-area: personal;
    margin: 10px;
    height: 500px;
    width: 600px;
    text-align: left;
    padding: 20px;
    height: auto;
    margin: 0 auto;
    position: relative;

}


.checkout-img{
    grid-area: krabs;

}

.krabs-money{
    height: 40vh;
    width: 100vh;
border-radius: 30px;
}
.confirm{
    grid-area: confirm;
    width: 40vh;
    margin-top: 30px;
}

.payment-section-title{
    padding: 18px;
    padding-left: 0;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    
  }
  
