.menu-item-container{
    display: grid;
    grid-template-areas:
      'pic abt'
     ;
    gap: 20px;
   background-color: var(--babyblue);
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
}
.menu-item-container-body{
  height: 100vh;
}