

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--blue);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
  }
  
  li a:hover:not(.active) {
    background-color: var(--babyblue);
  }
  
  .active {
    background-color: var(--babyblue);
  }
  .cart-link{
    float: right;
    text-align: center;
  }
  .cart-link>a>span{
    border-radius: 9px;
    font-size: 14px;
    background: var(--babyblue);
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -10px; 
  }